# Database Configuration
DATABASE_URL=postgresql://postgres.zwivsdstcxxebzortafg:[YOUR-PASSWORD]@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres

# Email Configuration  
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=pcparthiv20@gmail.com
SMTP_PASSWORD=jbdkvzungbbbjcwr

# Application Configuration
APP_NAME=Food-Saver
APP_URL=https://foodsaver.xo.je

# Environment
ENVIRONMENT=development
